body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header img {
    width:300px;
    float:left;
}

nav {
    padding-top:61px;
}

nav a {
    color:white;
    text-decoration:none;
    padding-left:5%;
}

a :hover {
    color:#111111;
}

main {
    width:90%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

aside {
    float:right;
    width:20%;
    border:1px dotted #4d4d4d;
    background-color:#eeeeee;
    padding-bottom:15px;
    margin-bottom:10px;
}

aside a {
    text-decoration:none;
    color:#000000;
}

footer {
    clear:both;
    color:#4d4d4d;
    background-color:#eeeeee;
    height:50px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:80%;
}

#links {
    background-color: #037dbe;
    padding-top:5px;
    padding-bottom:5px;
}

#mainContentContainer {
    margin-right:22%;
}

#mainContentImage {
    width:100%;
}

#sideBarHeading {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

#sideBarContainer {
    background-color:#ffffff;
    padding:2%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    width:90%;
    display:table;
}

#socialMediaLinks {
    float:left;
    padding-left:5%;
}

#socialMediaLinks img {
    width:40px;
    padding-top:6px;
    padding-left:6px;
}

#footerNav a {
    color:#037dbe;
    text-decoration:none;
    float:right;
    font-size:120%;
    padding-right:5%;
    padding-top:17px;
}

#footerNav a :hover {
    color:#000000;
}

#copyright {
    width:200px;
    margin:0 auto;
    font-style:italic;
    padding-top:35px;
}

#cartButtons {
    text-align:right;
    padding-top:15px;
    padding-right:3%;
    padding-bottom:0;
    padding-left:0;
}

#cartButtons button {
    color:#ffffff;
    background-color:#037dbe;
    border-style:none;
    border-radius:3px;
    padding:2%;
    cursor:pointer;
}

#cartButtons #clearCartButton {
    color:#037dbe;
    background-color:#eeeeee;
    border: 1px solid #037dbe;
}

#cardContainer {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.featuredImage {
    max-width:100%;
}

.bold {
    font-weight:bold;
}

.tableRow {
    display:table-row;
}

.tableCell {
    display:table-cell;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0;
    padding-right:0;
}

.tableCell:first-child {
    font-weight:bold;
}

.borderBottom {
    border-bottom:1px solid #bbbbbb;
}

.removeLink {
    color:#037dbe;
    text-align:right;
    font-size:80%;
}

.card {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition:0.3s;
    width:25%;
    border-radius:5px;
    padding:15px;
    margin-bottom:40px;
}

.card:hover {
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius:20px;
    width:100%;
    height:50%;
}

.cardText {
    padding-top:2px;
    padding-bottom:2px;
    padding-left:16px;
    padding-right:16px;
}

.cardText button {
    float:right;
    color:#ffffff;
    background-color:#037dbe;
    border-style:none;
    padding:5px;
    border-radius:3px;
    cursor:pointer;
}